<div class="container">
  <div class="margin-b20 margin-t10">
    <img src="/assets/Logo_Transparente.jpg" alt="logo" class="logoform">
  </div>
  <mat-card class="card center-h center-v" [formGroup]="signInForm" >

    <div class="margin-b20">
      <mat-card-title class="margin-t10">Inicio de sesión</mat-card-title>
    </div>
    <mat-form-field class="example-full-width label rosado margin-b20" appearance="fill">

      <input matInput
             placeholder="user@gmail.com"
             formControlName="email"
             required/>

      <div *ngIf="email.invalid && (email.dirty|| email!.touched)">
        <!--              si el email es invalido-->
        <mat-error *ngIf="email.errors?.['email']">You must enter a valid email address</mat-error>
        <!--              si el input está vacio, osea no colocó el email-->
        <mat-error *ngIf="email.errors?.['required']">Email is required</mat-error>

      </div>
    </mat-form-field>

    <mat-form-field class="example-full-width label rosado margin-b20" appearance="fill">
<!--      <mat-label>Contraseña</mat-label>-->
      <input
        type="password"
        matInput
        placeholder="write your password :3"
        formControlName="password"
        required/>
      <div *ngIf="password.invalid && (password.dirty|| password!.touched)">
        <mat-error *ngIf="password.errors?.['minLength']"> Password must be at least 6 characters length</mat-error>
        <mat-error *ngIf="password.errors?.['required']">Password is required</mat-error>

      </div>
    </mat-form-field>

    <div>
      <button mat-raised-button class="b-color material-button" (click)="signIn()"><span>Iniciar Sesión</span></button>
    </div>

    <p class="margin-t20">
    <span class="margin-b20">
        ¿Aún no tienes una cuenta?
            <strong routerLink="/sign-up">
                Regístrate
            </strong>
      </span>
    </p>
    <p>
        <span class="margin-b20">
                <strong routerLink="/reset-password">
                    ¿Olvidaste tu contraseña?
                </strong>
          </span>
    </p>
  </mat-card>
</div>

<style>
  .example-card {
    max-width: 400px;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .font{

    font-family: "Roboto";
  }

  .b-color{
    background-color: #6DB0E8;
    color:white;
    /*font-style: "Roboto";*/
  }

  .card{
    background-color: #bfedef;
    border: white 25px solid;
    display: grid;
    justify-items: center;
    width: 550px;

  }

  .margin-t20{
    margin-top: 20px;
  }

  .margin-t10{
    margin-top: 10px;
  }

  .margin-b20{
    margin-bottom: 20px;
  }

  .container{
    display: grid;
    align-items: center;
    justify-items: center;

  }

  .label{
    width: 500px;
  }

  .logoform{
    height: 100px;
    width: 250px;
  }
  .rosado{
    background-color:white;
    height: 52px;
    width: 500px;
  }
</style>
