<div class="container">
  <div class="margin-b20 margin-t10">
    <img src="/assets/Logo_Transparente.jpg" alt="logo" class="logoform">
  </div>
  <mat-card class="card center-h center-v">
    <div class="margin-b20">
      <mat-card-title class="margin-t10">¿Olvidaste tu contraseña?</mat-card-title>
    </div>

    <mat-form-field class="example-full-width label rosado margin-b20" appearance="fill">
      <input matInput
             placeholder="user@gmail.com"
             formControlName="email"
             required/>
    </mat-form-field>

    <div>
      <button mat-raised-button class="b-color" routerLink="/sign-in"><span>Enviar</span></button>
    </div>

    <p class="margin-t20">
        <span class="margin-b20">
            Sigue las indicaciones que se te enviaran por correo
          </span>
    </p>

  </mat-card>
</div>

<style>
  .example-card {
    max-width: 400px;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .font{

    font-family: "Roboto";
  }

  .b-color{
    background-color: #6DB0E8;
    color:white;
    //font-style: "Roboto";
  }

  .card{
    background-color: #bfedef;
    border: white 25px solid;
    display: grid;
    justify-items: center;
    width: 550px;

  }

  .margin-t20{
    margin-top: 20px;
  }

  .margin-t10{
    margin-top: 10px;
  }

  .margin-b20{
    margin-bottom: 20px;
  }

  .container{
    display: grid;
    align-items: center;
    justify-items: center;

  }

  .label{
    width: 500px;
  }

  .logoform{
    height: 100px;
    width: 250px;
  }
  .rosado{
    background-color:white;
    height: 52px;
    width: 500px;
  }
</style>
