<div class="container">
  <div class="margin-b20 margin-t10">
    <img src="/assets/Logo_Transparente.jpg" alt="logo" class="logoform">
  </div>
  <mat-card class="card center-h center-v">
    <div class="margin-b20">
      <mat-card-title class="margin-t10">Crea tu cuenta</mat-card-title>
    </div>

    <mat-form-field class="example-full-width label rosado margin-b20" appearance="fill">
      <input matInput
             placeholder="Escriba su nombre :)"
             formControlName="name"
             required/>
    </mat-form-field>

    <mat-form-field class="example-full-width label rosado margin-b20 " appearance="fill">
      <input matInput
             placeholder="user@gmail.com"
             formControlName="email"
             required/>
      <!--      <mat-label>Correo electronico</mat-label>-->
    </mat-form-field>

    <mat-form-field class="example-full-width label rosado margin-b20" appearance="fill">
      <input matInput
             placeholder="ingrese un numero de telefono"
             formControlName="phone"
             required/>
    </mat-form-field>

    <mat-form-field class="example-full-width label rosado margin-b20" appearance="fill">
      <input matInput
        placeholder="write your password :3"
        formControlName="password"
        required/>
    </mat-form-field>

    <mat-form-field class="example-full-width label rosado margin-b20" appearance="fill">
      <input matInput
             placeholder="repeat your password :3"
             formControlName="password"
             required/>
    </mat-form-field>


    <p>
      <mat-checkbox></mat-checkbox>

      <span class="margin-b20">
                Aceptar los términos y condiciones de esta pagina
            </span>
    </p>

    <div>
      <button mat-raised-button class="b-color"><span routerLink="/sign-in">Registrame</span></button>
    </div>

    <p class="margin-t20">
        <span class="margin-b20">
            ¿Ya estás registrado?
                <strong routerLink="/sign-in">
                    Inicia sesión
                </strong>
          </span>
    </p>

  </mat-card>
</div>

<style>
  .example-card {
    max-width: 400px;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .font {

    font-family: "Roboto";
  }

  .b-color {
    background-color: #6DB0E8;
    color: white;
    /*font-style: "Roboto";*/
  }

  .card {
    background-color: #bfedef;
    border: white 25px solid;
    display: grid;
    justify-items: center;
    width: 550px;

  }

  .margin-t20 {
    margin-top: 20px;
  }

  .margin-t10 {
    margin-top: 10px;
  }

  .margin-b20 {
    margin-bottom: 20px;
  }

  .container {
    display: grid;
    align-items: center;
    justify-items: center;

  }

  .label {
    width: 500px;
  }

  .logoform {
    height: 100px;
    width: 250px;
  }

  .rosado {
    background-color: white;
    height: 52px;
    width: 500px;
  }

  .input {
    display: grid;
    align-items: center;
    justify-items: center;
  }
</style>
